<link href="custom_style.css" rel="stylesheet" type="text/css" />
<link href="course_style.css" rel="stylesheet" type="text/css" />



<h3 style="text-align: center;">La Agenda 2030 y las oportunidades para las sociedades rurales</h3>
<p>El Curso de Autoaprendizaje: La Agenda 2030 y las oportunidades para las sociedades rurales, abordó cinco unidades que abordaron distintas temáticas relacionadas con la implementación de la Agenda 2030 y los Objetivos de Desarrollo Sostenible. A continuación, te presentamos las principales conclusiones obtenidas de este recorrido:</p>

<h2>Conclusiones</h2>
<img src="http://www.fao.org/alc/elearning/file.php/373/img_conclusiones/S-SDG-Poster-with-UN-emblem_WEB.jpg" width="489" height="300" class="foto_centro marco" /><br />

<ul>
<img src="http://www.fao.org/alc/elearning/file.php/373/img_conclusiones/003.png" width="262" height="200" class="foto_derecha"/>
  <li><strong>La Agenda 2030 es una agenda política  transformadora y civilizatoria que se sustenta no solo en los 17 objetivos y  las 169 metas. Se trata de un cambio de paradigma, </strong>por lo tanto, es necesario no sólo centrarse en el cumplimiento de los  objetivos, metas e indicadores desde una perspectiva cuantitativa, pues la  agenda se manifiesta como una agenda que implica transformaciones de base en un  escenario actual amenazado por desequilibrios sociales, económicos y  medioambientales. Es preciso no perder de foco esta visión y los principales  compromisos comunes que sustentan la equidad, la igualdad, la sostenibilidad,  la transversalidad de los problemas, la gobernanza, la necesaria inclusión  transversal del enfoque de género, la perspectiva de derechos y la inclusión de  las poblaciones en situación de vulnerabilidad, el ciclo de vida y el rol de  otros poderes del Estado y el compromiso de todos los países del mundo; así  como también los medios de implementación, la cooperación y el financiamiento  para el desarrollo, para construir el mundo que se quiere asegurar para que  nadie se quede atrás.<br>
    <br>
  </li>

  <li><strong>Los países de la Región enfrentan condiciones  similares en diversas temáticas</strong> relacionadas a  ingresos (países menos adelantados), condiciones político-sociales, situaciones  de conflicto, entre otras. Desde sus distintas necesidades de debe generar un  diagnóstico, definir una hoja de ruta, implementar acciones de política pública  y mecanismos de seguimiento y monitoreo conforme a las prioridades de cada  país. Para ello, el esfuerzo de todos los sectores y actores, en lo individual  y colectivo, es clave para lograr atender las condiciones relativas a: pobreza  extrema, ausencia y/o desconocimiento de cooperación internacional, elevada  deuda global, entre otras.<br>
    <br>
  </li>
  <img src="http://www.fao.org/alc/elearning/file.php/373/img_conclusiones/002.png" width="262" height="200" class="foto_derecha"/>
<li><strong>La Agenda 2030 debe ser adaptada a las necesidades  de cada país.</strong> Se debe invertir en  instrumentos de planificación territorial y la generación de indicadores a  escala local, que permitan monitorear y dar seguimiento a las acciones. Es  necesario, también, lograr una agenda de trabajo conjunta entre los países para  poder homologar los resultados, hacer comparaciones y registrar los avances. <br>
    <br>
  </li>
  <li>Según el análisis de  tendencia de la Red de Soluciones de Desarrollo Sostenible de las Naciones  Unidas, ningún país logrará los 17 ODS al 2030. Esto abre la oportunidad para  repensar como éstos ODS se organizan. Dada la interrelación de varios ODS, la  propuesta liderada por esta red, busca implementar <strong>seis transformaciones</strong> para alcanzar los ODS.<br>
    <br>
  </li>
  <li>La <strong>localización de la Agenda 2030</strong> permite abordar los problemas desde  una perspectiva territorial. Al alinear las agendas locales con la Agenda 2030  se potencia la implementación de políticas y se crea un ambiente de  cooperación. Con la finalidad de localizar los ODS, es relevante que los  gobiernos locales incorporen en sus planes de desarrollo el enfoque del  desarrollo sostenible en el ámbito de sus competencias. Además, los gobiernos  locales deben impulsar espacios en los cuales participen todos los sectores  desde sus distintas perspectivas. En esta misma línea, se debe fomentar la  construcción de confianza para trabajar en conjunto e integralmente, ampliando  constantemente las capacidades de los técnicos para la obtención de datos y su  cuantificación. Es importante resaltar que la toma de decisiones debe partir  del conocimiento local, así como se deben desarrollar mecanismos que promuevan  el dialogo y espacios permanentes entre múltiples actores sectoriales, que  busquen su articulación y concertación, y que tengan capacidad de incidir en  las políticas públicas y en las normas, desde lo local a lo nacional.<br>
    <br>
  </li>
  
  <li>La mayoría de los países  tienen un <strong>marco de políticas de apoyo</strong>,  y los desafíos de los medios de implementación se sustentan en mayor medida de  problemas de coordinación que a la falta de recursos per se. Los países están  haciendo esfuerzos por implementar la Agenda 2030. Para ello, han ido  integrando los ODS en sus estrategias nacionales y adaptado sus mecanismos  institucionales. No obstante, aún falta avanzar en marcos integradores y  coherentes de políticas públicas, además de contar con la suficiente voluntad  política para poner en marcha los distintos procesos y mecanismos. En este  mismo sentido, se recomienda impulsar la definición de estrategias que permitan  asegurar la implementación de acciones en terreno, con adecuados procesos  metodológicos de seguimiento y control. El problema mayor de los recursos  invertidos por los gobiernos en las zonas rurales es la falta de eficiencia,  gestión, implementación, seguimiento y sostenibilidad que tienen los programas.  En ocasiones los municipios pequeños no cuentan con las herramientas técnicas y  legislativas necesarias para poder hacer una buena ejecución, lo que causa que  los recursos no sean destinados para su fin original, o finalmente sean  revertidos. <br>
    <br>
  </li>
  <img src="http://www.fao.org/alc/elearning/file.php/373/img_conclusiones/005.png" width="262" height="200" class="foto_derecha"/>
  <li>Se hace referencia a la <strong>importancia de involucrar a los jóvenes</strong> en todo lo relacionado a la SAN (Seguridad Alimentaria y Nutricional). Es  sabido que los jóvenes rurales se enfrentan a mayores desigualdades que sus  pares urbanos, una situación que se agrava en el caso de las mujeres jóvenes  indígenas. Además, aspectos como el limitado acceso a la educación  complementaria y superior, la informalidad del mercado laboral y la falta de  oportunidades en el campo hacen que muchos jóvenes decidan migrar a las  ciudades. A través de las universidades es posible sensibilizar a la comunidad  universitaria sobre este tema y poder implementar acciones en mejora de las  capacidades para alcanzar el hambre cero.<br>
    <br>
  </li>
  
  <li><strong>El fortalecimiento de capacidades enfocado a las  sociedades rurales es fundamental</strong>. Se pueden  establecer prácticas comunitarias ligadas a escuelas de campo que permitan  impulsar el desarrollo en la ruralidad, siendo vital que este apoyo este  dirigido a la agricultura familiar. Para ello, la formación de recursos humanos  con un abordaje integral pueda ser una solución para atender las necesidades de  las comunidades rurales. Es necesario tomar en cuenta que, aunque existen  plataformas virtuales y numerosas oportunidades de capacitación a través de  internet, éstas a veces no son accesibles para las comunidades rurales. <br>
    <br>
  </li><img src="http://www.fao.org/alc/elearning/file.php/373/img_conclusiones/004.png" width="262" height="200" class="foto_derecha"/>
  <li>El <strong>sector privado</strong>, ha avanzado en la incorporación del componente  social y sostenible en los proyectos de inversión, poniendo foco y sentido en  el crecimiento a las tres dimensiones de sostenibilidad. Sin embargo, muchas de  estas acciones no están enfocadas a los agricultores familiares. La mayoría de  los recursos del sector privado están enfocados a grandes agricultores o  contemplan inversiones mayores de capital, solo algunos se enfocan en la  pequeña actividad agraria familiar informal o emergentes. Además, en muchos  países aún existe ausencia de legislaciones y marcos normativos efectivos que  reglamenten la responsabilidad social empresarial.<br>
    <br>
  </li>
  <li>Como se ha mencionado  anteriormente, la Agenda 2030 supone un cambio de paradigma. Se ha mencionado  que para lograr un desarrollo global sostenible se necesita una confluencia de  soluciones políticas, económicas, ambientales y sociales, pero también, y no  menos importante, necesita de un <strong>profundo  desarrollo de la Investigación, desarrollo e innovación (I+D+i) y la tecnología</strong>.  Para ello, se requiere de un esfuerzo conjunto entre todos los actores, entre  ellos la academia, la comunidad científica, el sector privado, la industria  para generar productos, tecnologías y procesos accesibles a todas las personas  para dar respuesta a las demandas sociales más elementales relacionadas con la salud,  la alimentación, la pobreza, la lucha contra el cambio climático, la energía,  el acceso al agua potable, entre otros. La innovación también es necesaria para  brindar soluciones medioambientales que pasan por la minimización del impacto  ambiental, el aprovechamiento de los recursos sostenibles, la reutilización y  la valorización de residuos, mantenimiento de recursos naturales y la  protección del medioambiente.<br>
    <br>
  </li>
  <li><strong>Sobre el monitoreo y seguimiento</strong>. Es necesario contar con estudios y líneas de  bases que permitan darse cuenta de las realidades, capacidades y niveles de  desarrollo de los diversos sectores (público, privado, sociedad civil,  academia). Asimismo, es clave respetar las políticas y prioridades locales,  subnacionales y nacionales, y que cada sector dispone de diferentes enfoques,  visiones, modelos e instrumentos para lograr el desarrollo sostenible, en  función de sus circunstancias y prioridades nacionales. <br>
    <br>
  </li>
  <li><strong>Difusión, Capacitación y Conocimiento</strong>. En términos del desarrollo de las sociedades  rurales, se reitera la tarea de garantizar que las personas cuenten con  información y conocimientos pertinentes para el desarrollo sostenible. Los  estilos de vida, las conductas de producción y consumo deben estar en armonía  con la naturaleza. Sin transformaciones progresivas en los modos de vivir no se  podrá proteger los ecosistemas y la biodiversidad, así como tampoco reducir la  degradación de los sistemas silvoagropecuarios. La difusión de los avances es  clave para informar, motivar, comunicar y para establecer acuerdos entre  distintas esferas de la sociedad. La comunicación de resultados se debe presentar  de manera metódica, con análisis sobre la situación y explicitar claramente los  avances en la implementación.</li>
</ul>
