@charset "utf-8";

.responsive-img {

  max-width: 100%;
  height: auto;
}

.text-center {
  text-align: center !important;
}

.text-caja-inicio {
  text-align: left !important;
  font-size:0.9em;
}

.foto_izquierda {
  float: left;
  margin-top: 0px;
  margin-right: 20px;
  margin-bottom: 0px;
  margin-left: 0px;
}
.foto_derecha {
  float: right;
  margin-top: 0px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 20px;
}
.foto_centro {
	display:block;
	margin:auto;
}

.foto_izq_fuera {
  float: left;
  margin-top: -20px;
  margin-right: 10px;
  margin-bottom: 6px;
  margin-left: -40px;
}
.foto_der_fuera {
  float: right;
  margin-top: -20px;
  margin-right: -40px;
  margin-bottom: 6px;
  margin-left: 10px;
}

.marco {
  padding: 5px;
  border: solid 1px #cccccc;
}
#ref {
  padding: 0px;
  float: right;
  height: 22px;
  width: 103px;
  margin-top: 6px;
  margin-right: 0px;
  margin-bottom: -6px;
  margin-left: 0px;
}
#ref a:link, #ref a:visited {
  background-image: url(../img/img_gen/referencias.png);
  background-repeat: no-repeat;
  display: block;
  margin: 0px;
  padding: 0px;
  height: 22px;
  width: 103px;
}
#ref a:hover {
margin-top: 2px;
}

/*omar*/

.sombra {
	-webkit-box-shadow: 10px 10px 10px -10px #7A7A7A;
	box-shadow: 10px 10px 10px -10px #7A7A7A;
	border: 1px solid #CCC;
	padding: 6px;
	background-color: #FFF;
}
.rotar_derecha
{
	-ms-transform: rotate(2deg); /* IE 9 */
    -webkit-transform: rotate(2deg); /* Chrome, Safari, Opera */
    transform: rotate(2deg);
}

.rotar_izquierda
{
	-ms-transform: rotate(-2deg); /* IE 9 */
    -webkit-transform: rotate(-2deg); /* Chrome, Safari, Opera */
    transform: rotate(-2deg);
}

.alert-success h3, .alert-danger h3, .alert-warning h3, .alert-info h3 {
  color: inherit;
}
.bs-callout {
    padding: 20px;
    margin: 20px 0;
    border: 1px solid #eee;
    border-left-width: 5px;
    border-radius: 3px;
}
.bs-callout-danger{border-left-color:#ce4844}
.bs-callout-danger h4{color:#ce4844}
.bs-callout-warning{border-left-color:#aa6708}
.bs-callout-warning h4{color:#aa6708}
.bs-callout-info{border-left-color:#1b809e}
.bs-callout-info h4{color:#1b809e}

.modal-title {
  margin: 0;
  line-height: 1.42857143;
  font-size: 1.5em;
}
.label-unidad {
  background-color: #5d727d;
}
.label-unidad[href]:hover,
.label-unidad[href]:focus {
  background-color: #76878f;
}
.badge {
  background-color: #5792c9;
}
.shadow {
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
}
.verticalLine {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 20px;
}

.verticalLineTwo {
	border-right-width: thin;
	border-right-style: dotted;
	border-right-color: #999;
	padding-right: 10px;
	padding-left: 10px;
	border-left-width: thin;
	border-left-style: dotted;
	border-left-color: #999;
}
.caja {
	margin:14px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	border-top: 6px solid #5792c9;

}
.caja-carrusel {
	margin:14px;
	padding: 20px;
	background-color: #FFF;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 0px 0px 14px 14px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 16px -1px rgba(0,0,0,0.20);
	border-top: 6px solid #5792c9;

}
.caja2 {
	margin:16px;
	padding: 26px;
	background-color: #f2edcc;
	color:#625d3b;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 14px 14px 14px 14px;
	-webkit-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	-moz-box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	box-shadow: 0px 0px 30px -1px rgba(0,0,0,0.40);
	border-top: 6px solid #5792c9;

}

.caja_inicio {
	margin: 4px;
	padding: 12px;
	background-color: #FFF;
	min-height: 154px;
	border-radius: 0px 0px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	-moz-box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	box-shadow: 0px 0px 20px -1px rgba(0,0,0,0.20);
	border-top: 4px solid #5792c9;
	text-align: center;

}
.numero_tiempo {
	font-family: 'Roboto', sans-serif;
	font-size: 2.1em;
	font-weight: normal;
	color: #5792c9;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #990;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}

.tit_destacado {
	font-family: 'Roboto', sans-serif;
	font-size: 1.4em;
	font-weight: normal;
	color: #060;
	text-align: left;
	margin-top: 0px;
	margin-right: 0px;
	margin-bottom: 10px;
	margin-left: 0px;
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #990;
	padding-top: 4px;
	padding-right: 0px;
	padding-bottom: 4px;
	padding-left: 0px;
}

.text_destacado {
	font-family: 'Roboto', sans-serif;
	font-size: 1.2em;
	color: #5792c9;
	text-align: left;
	font-style: normal;
	line-height: 1.1em;
	padding:6px;
}
.back_inicio {
	min-height:420px;
	margin-left:-15px;
	margin-right:-15px;
	padding-left:15px;
	padding-right:15px;
	text-align: center;
	vertical-align: bottom;
	background-image: url(../img/img_un/back_inicio.jpg);
	background-repeat: repeat-x;
	background-position: center 10px;
}
.back_01 {
	vertical-align: bottom;
	background-image: url(../img/img_un/back_01.jpg);
	background-repeat: repeat-x;
	background-position: center 36px;
}
.back_02 {
	vertical-align: bottom;
	background-image: url(../img/img_un/back_02.jpg);
	background-repeat: repeat-x;
	background-position: center 36px;
}
.back_03 {
	vertical-align: bottom;
	background-image: url(../img/img_un/back_03.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	min-height: 316px;
	margin-bottom: 20px;
}
.back_04 {
	vertical-align: bottom;
	background-image: url(../img/img_un/back_04.jpg);
	background-repeat: repeat-x;
	background-position: center 40px;
	min-height:460px;
}
.back_05 {
	vertical-align: bottom;
	background-image: url(../img/img_un/back_05.jpg);
	background-repeat: repeat-x;
	background-position: center 36px;
	min-height:316px;
	margin-bottom:20px;
}

.back_06 {
	vertical-align: bottom;
	background-image: url(../img/img_un/back_06.jpg);
	background-repeat: repeat-x;
	background-position: center 36px;
	min-height:316px;
	margin-bottom:20px;
}
.back_07 {
	vertical-align: bottom;
	background-image: url(../img/img_un/back_07.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	min-height: 480px;
	margin-bottom: 20px;
}
.back_08 {
	vertical-align: bottom;
	background-image: url(../img/img_un/back_08.jpg);
	background-repeat: repeat-x;
	background-position: center bottom;
	min-height: 316px;
	margin-bottom: 20px;
}
.back_09 {
	vertical-align: bottom;
	background-image: url(../img/img_un/back_09.jpg);
	background-repeat: no-repeat;
	background-position: right center;
	min-height: 480px;
	margin-bottom: 20px;
}
.back_celeste {
	vertical-align: bottom;
	background-image: url(../img/img_un/fa06.jpg);
	background-repeat: repeat-x;
	background-position: center center;
	min-height: 316px;
}
.back_FAO {
	vertical-align: bottom;
	background-image: url(../img/img_un/edificio_fao.jpg);
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 316px;
}
.clip {
	float:right;
	margin-top:-41px;
	margin-left:10px;
	z-index:100;
}
.blanco {
	margin-top: 10px;
	color: #FFF;
	margin-bottom: 10px;
}


/* Unidad 1 */

.linea {
	border-bottom-width: 1px;
	border-bottom-style: dotted;
	border-bottom-color: #CCC;
}
.flecha_der_fuera {
	float: right;
	margin-top: 20px;
	margin-right: -40px;
	margin-left: 10px;
	margin-bottom: -50px;
}
.texto_sobre_foto {
	font-size: 26px;
	font-weight: bold;
	color: #FFF;
	text-shadow: black 0.1em 0.1em 0.2em
}

/* Unidad 1 */

#rotargear {
		-webkit-animation: rotation 5s infinite linear;
}

@-webkit-keyframes rotation {
		from {
				-webkit-transform: rotate(0deg);
		}
		to {
				-webkit-transform: rotate(359deg);
		}
}
#rotargear2 {
		-webkit-animation: rotation2 5s infinite linear;
}

@-webkit-keyframes rotation2 {
		from {
				-webkit-transform: rotate(359deg);
		}
		to {
				-webkit-transform: rotate(0deg);
		}
}
.circulo {
	width: 100px;
	height: 100px;
	-moz-border-radius: 50%;
	-webkit-border-radius: 50%;
	border-radius: 50%;
	background: #70aec0;
	border: 2px solid #518594;
	font-weight: bold;
}
.back_degradado_FAO {
	background: rgb(164,179,87);
	background: -moz-linear-gradient(top, rgb(164,179,87) 0%, rgb(6,103,50) 100%);
	background: -webkit-gradient(left top, left bottom, color-stop(0%, rgb(164,179,87)), color-stop(100%, rgb(6,103,50)));
	background: -webkit-linear-gradient(top, rgb(164,179,87) 0%, rgb(6,103,50) 100%);
	background: -o-linear-gradient(top, rgb(164,179,87) 0%, rgb(6,103,50) 100%);
	background: -ms-linear-gradient(top, rgb(164,179,87) 0%, rgb(6,103,50) 100%);
	background: linear-gradient(to bottom, rgb(164,179,87) 0%, rgb(6,103,50) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a4b357', endColorstr='#066732', GradientType=0 );
}
